html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    background-color: #1f2937;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 250px 70px 250px;
}

.header-logo>a {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links>a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: #1f2937;
    padding: 10px 250px;
}

/* Left Side Hero */

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero-text {
    width: 350px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 0 12px 0;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

.sign-up:hover {
    background-color: #e5e7eb;
    color: #3882f6;
}

/* Right Side Hero */

.placeholder {
    background-color: gray;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.placeholder>p {
    font-size: 18px;
    color: #e5e7eb;
}

/* Content */

/* ******************************** */

/* 1st Part */

.first-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px 250px 70px 250px;

}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 0 0 30px 0;
}

.lower-part-first {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.img-placeholder {
    border: 5px solid #3882f6;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin: 0 0 23px 0;
}

.card-text {
    color: gray;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

/* 2nd Part */

.second-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
    padding: 0 250px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 36px 0 20px 0;
}

.author-text {
    font-size: 30px;
    color: #1f2937;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0;
}

/* 3rd Part */

.third-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
    height: 400px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    width: 100%;
    height: 170px;
    border-radius: 15px;
    padding: 0 130px 0 125px;
}

h3 {
    color: #e5e7eb;
    font-size: 25px;
    margin: 0 0 3px 0;
}

.cta-text {
    color: #e5e7eb;
    margin: 3px 0 0 0;
}

.cta-signup {
    border: solid 2px #e5e7eb;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 10px;
    padding: 7px 35px;
}

.cta-signup:hover {
    color: #3882f6;
    background-color: #e5e7eb;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
}

.footer-text {
    color: #f9faf8;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
}