html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    background-color: #1f2937;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px 250px 70px 250px;
}

.header-logo>a {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links>a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: #1f2937;
    padding: 0 250px;
}

/* Left Side Hero */

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero-text {
    width: 350px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 0 12px 0;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

.sign-up:hover {
    background-color: #e5e7eb;
    color: #3882f6;
}

/* Right Side Hero */

.placeholder {
    background-color: gray;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder>p {
    font-size: 18px;
    color: #e5e7eb;
}